<section id="certs" class="portfolio section-show" >
    <div class="container">

      <div class="section-title mb-5" >
        <h2>Course Certificates</h2>
    
      </div>
      

     

      <div class="row portfolio-container" style="position: relative; height: 855px;">

        <div class="col-lg-10 col-md-6 portfolio-item filter-app" style="position: absolute; left: 0px; top: 0px;">
          <div class="portfolio-wrap">
            <img src="../assets/img/certs/Ethhical_hacking_cert.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              
              <div class="portfolio-links">
                <a href="../assets/img/certs/Ethhical_hacking_cert.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
                
              </div>
            </div>
          </div>
        </div>
      

    </div>
    </div>
  </section>