<section id="certs" class="portfolio section-show" >
    <div class="container">
        <h2 class="section-title mb-5">Course Certificates</h2>
         
          <img src="../assets/img/certs/django.jpg" class="img-fluid col-sm-8 portfolio-item filter-app" style="relative; left: 0px; top: 0px;" alt="">   
       
          <img src="../assets/img/certs/Ethhical_hacking_cert.jpg" class="img-fluid col-sm-8 portfolio-item filter-app" style="relative; left: 0px; top: 0px;" alt="">   
    </div>
         
  </section>