<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
      <h2 class="mb-5">Interests</h2>
      <ul class="fa-ul mb-0">

        <li>
          <i class="fa-li fa fa-check"></i>
       Android OS customizations
        </li>
       
        <li>
          <i class="fa-li fa fa-check"></i>
        Reading</li>
        <li>
          <i class="fa-li fa fa-check"></i>
         Music</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Mobile Photography</li>
          <li>
            <i class="fa-li fa fa-check"></i>
           Adobe Photoshop and Lightroom
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
         Exploring Tech 
        
      </li>
      
        </ul>
      
    </div>
  </section>