
<!-- navbar starts -->
<app-navbar></app-navbar>
<!-- navbar ends -->

<!-- Social icons starts -->
<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex " id="about">
    <div class="w-100" >
      <h1 class="mb-0"> Aman
        <span class="text-primary">Baid</span>
      </h1>
      <div class="subheading mb-5">
        <a href="mailto:name@email.com">amanbaid@tutanota.com</a>
      </div>
      <h4><p >Yo! Welcome to My Blog!</p></h4>
      <h5>I'm a Tech Enthusiast who loves exploring,breaking and fixing stuff</h5>
      
      <div class="social-icons">
        <!-- <a href="#">
          <i class="fab fa-linkedin-in"></i>
        </a> -->
        <a href="https://github.com/amanbaid99">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/aman-baid-b439321b0/">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://instagram.com/aman_baid_">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
    
    <div>

      


    <!-- <img src="..//assets/img/profile_picture.jpg" alt="img" height="500" width="500" > -->
  </div>
  </section>

  
  <!-- social icons ends -->
  


  <!-- resume section starts -->

  <!-- Experince section starts -->

  

  <!-- <app-experience></app-experience> -->


  <!-- Experince section ends -->

<!-- Education section starts -->


  

  <app-education></app-education>
  <!-- Education section ends -->




  <!-- PLanguages section starts -->





 

<app-skills></app-skills>




  <!-- Planguages section ends -->




  <!-- Interest section starts -->



  <app-certs></app-certs>

  

  <app-interests></app-interests>



  
  


  <hr class="m-0">

 
</div>




  <!-- Interest section ends -->


<!-- resume Section ends -->



<!-- Bootstrap core JavaScript -->
<!-- <script src="node_modules/jquery/jquery.min.js"></script> -->
<!-- <script src="node_modules/bootstrap/js/bootstrap.bundle.min.js"></script> -->

<!-- Plugin JavaScript -->
<!-- <script src="node_modules/jquery-easing/jquery.easing.min.js"></script> -->



