
<!-- navbar starts -->
<app-navbar></app-navbar>
<!-- navbar ends -->

<!-- Social icons starts -->
<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <h1 class="mb-0">Aman
        <span class="text-primary">Baid</span>
      </h1>
      <div class="subheading mb-5">
        <a href="mailto:name@email.com">Socialamanbaid99@protonmail.com</a>
      </div>
      <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
      <div class="social-icons">
        <a href="#">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
          <i class="fab fa-github"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- social icons ends -->
  
  <!-- resume section starts -->

  <!-- Experince section starts -->

  

  <app-experience></app-experience>


  <!-- Experince section ends -->

<!-- Education section starts -->


  

  <app-education></app-education>
  <!-- Education section ends -->




  <!-- PLanguages section starts -->





 

  <app-planguages></app-planguages>




  <!-- Planguages section ends -->




  <!-- Interest section starts -->





  

  <app-interests></app-interests>

  <hr class="m-0">

 
</div>




  <!-- Interest section ends -->


<!-- resume Section ends -->



<!-- Bootstrap core JavaScript -->
<script src="node_modules/jquery/jquery.min.js"></script>
<script src="node_modules/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="node_modules/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="src/assest/js/resume.min.js"></script>


