
  
  <hr class="m-0">
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">St.Andrew'S College Bandra</h3>
          <div class="subheading mb-3">Bachelor of Science in Information Technology</div>
      
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">june 2017 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">St.Andrew's College Bandra</h3>
          <div class="subheading mb-3">HSC in Commerce</div>
          
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">July 2015 - May 2017</span>
        </div>

        
      </div>


      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">The Don Bosco High School</h3>
          <div class="subheading mb-3">SSC</div>
          
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">July 2013 - May 2015</span>
        
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">Divine Mercy High School</h3>
          <div class="subheading mb-3">Pre-primary and Primary</div>
            <div class="subheading mb-3"></div>
            
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2003 - May 2013</span>
          </div>
          </div>
  

        
      

    </div>
  </section>



