<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
      <h2 class="mb-5">Skills</h2>

      <div class="subheading mb-3">Programming Languages &amp; Tools</div>
      <ul class="list-inline dev-icons">
        <li class="list-inline-item">
          <i class="fab fa-html5"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-css3-alt"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-js-square"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-angular"></i>
        </li>
        
        <li class="list-inline-item">
          <i class="fab fa-node-js"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-java"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-python"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-c++"></i>
        </li> 
        
        <li class="list-inline-item">
          <i class="fab fa-wordpress"></i>
        </li>
        
        <li class="list-inline-item">
          <i class="fab fa-npm"></i>
        </li>
        
      </ul>

      <div class="subheading mb-3">Technical Skills</div>
      <ul class="fa-ul mb-0">

        <li>
          <i class="fa-li fa fa-check"></i>
        Web Development-  Beginner
        </li>
       <li>
          <i class="fa-li fa fa-check"></i>
        Android App development-  Intermediate</li>

         <li>
          <i class="fa-li fa fa-check"></i>
         Ethical Hacking-  Beginner</li>

         <li>
          <i class="fa-li fa fa-check"></i>
         Linux CommandLine -  Intermediate</li>
        
        </ul>


          <div class="subheading mb-3">Other Skills</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
            Strategy and Planning
          </li>
            <li>
            <i class="fa-li fa fa-check"></i>
           Management and Organizing 
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>
         Communication
      </li>
    
      
        </ul>

    </div>
  </section>